{% extends 'base.html' %}
{% block title %}天天生鲜-首页{% endblock %}

{% block topfiles %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/slide.js') }}"></script>
{% endblock %}




{% block body %}


    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="{{ url_for('goods.index') }}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="javascript:alert('待开发!');">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="javascript:alert('待开发!');">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for type in types %}
                <li><a href="#model0{{ loop.index }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for banner in GoodsBanner %}
                    <li><a href="#"><img src="{{ fdfs_img_tag(banner.image) }}"
                                         alt="幻灯片"></a></li>
                {% endfor %}

            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {% for banner in PromotionBanner %}
                <a href="{{ banner.url }}"><img src="{{ fdfs_img_tag(banner.image) }}" alt=""></a>
            {% endfor %}
        </div>
    </div>

    {% for type in types %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model0{{ loop.index }}">{{ type.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {% for banner in type.tltle_banner %}
                        <a href="{{ url_for('goods.details', pk=banner._sku.id) }}">{{ banner._sku.name }}</a>
                    {% endfor %}
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ fdfs_img_tag(type.image) }}" alt=""></div>
                <ul class="goods_list fl">
                    {% for banner in type.img_banner %}
                        <li>
                            <h4><a href="#">{{ banner._sku.name }}</a></h4>
                            <a href="{{ url_for('goods.detail', pk=banner._sku.id) }}"><img
                                    src="{{ fdfs_img_tag(banner._sku.image) }}"
                                    alt=""></a>
                            <div class="prize">¥ {{ banner._sku.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock %}
